@import '../../styles/colors';

.Introduction {

    > .content {
        padding: 0 30px;
        width: 100%;
        background-image: radial-gradient(#e49ab01a, white);
        max-width: 700px;

        img {
            margin-top: 20px;
        }

        > h2 {
            font-family: Bebas Neue;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 29px;
            text-align: left;    
            color: $female-dark;
            text-align: center;
            padding: 50px 0 20px 0;
        }

        > p {
            max-width: 620px;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: $black;
            text-align: center;
            padding-bottom: 20px;
            text-align: justify;
            margin: 0 auto;
            padding-bottom: 40px;

            .firstLetter {
                font-size: 35px;
                color: $female-dark;
            }
        }

    }
    .introductionImg {
        background-image: radial-gradient(#e49ab03b, white);
        align-self: flex-end;
        img {
            width: 242px;
            height: auto;
        }
    }
}

@media (min-width: 800px){
    .Introduction {
        display: flex;
        min-width: 450px;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(#e49ab01a, white);

        > div {
            width: initial;
            margin: 0;
        }

        > .content {
            background-image: none;
        }

        .introductionImg { 
            background-image: none;
        }
    }
}