@import '../../styles/colors';

.Menu {
    position: relative;
    height: 65px;

    .mobileMenu {
        width: 100%;
        position: fixed;
        background-color: $cloud;
        z-index: 1;
    
        > .menuHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 68px;
            z-index: 0;
            background: $cloud;
    
            > h1 {
                font-family: 'Sacramento', cursive;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: left;
                padding-left: 18px;
                width: 210px;
            }
        
            div {
                > img {
                    width: 55px;
                    height: 51px;
                }
            }
        
            > .menuButton {
                width: 210px;
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
                > .sanduiche {
                    width: 35px;
                    height: 35px;
                    margin-right: 18px;
                }
            }
        }
    
        > .menuContent {
            background-color: $cloud;
            height: 190px;
            width: 100%;
            position: relative;
            animation: menu 1s forwards;
            z-index: -1;
    
            ul {
                font-family: Open Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                text-align: center;
    
                li {
                    padding: 8px 0;
                    color: $female-dark;
                    list-style-type: none;
                    width: max-content;
                    margin: 0 auto;
                }
    
                li:hover {
                    border-bottom: 1px solid $female-dark;
                }
            }
        }

        .deskMenu {
            ul {
                display: none;
            }
        }
    }

    @media (min-width: 760px){

        .mobileMenu {
            display: none;
        }

        .deskMenu {
            display: block;

            > ul {
                height: 60px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                list-style-type: none;

                > li {
                    font-family: Bebas Neue;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    cursor: pointer;

                    &:hover {
                        color: $female-medium;
                    }
                }
            }
        }
    }
}

@keyframes menu {
    from {
        top: -200px;
        opacity: 0;
    } to {
        top: 0px;
        opacity: 1;
    }
}