@import '../../styles/colors';

.clinicInformation {
    padding: 30px 20px;
    background-color: $male-light;

    > h2 {
        color: $male-dark;
        font-family: Bebas Neue;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        text-align: left;    
        text-align: center; 
    }

    
    .clinicItem {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 15px;
        max-width: 800px;
        margin: 30px auto;
        background-color: $cloud;
        box-shadow: 2px 3px 4px #5698AE;

        > div {
            width: 400px;
            > h6 {
                color: $male-dark;
                font-family: Open sans;
                font-size: 20px;
                font-weight: 700;
                line-height: 29px;
                text-align: left;    
                text-align: center; 
                margin: 40px 0 30px 0;  
            }
    
            > p {
                font-family: Open sans;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
                color: $black;
            }
    
            > .webSite {
                display: flex;
                justify-content: center;
                color: $male-dark;
                cursor: pointer;
                
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
    
                &:hover {
                    color: $male-medium
                }
            } 
        }
    }

    .map {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px 0;

        div {
            width: 80%;
            max-width: 200px;
            height: 200px;
            max-width: 700px;
        }
    }
}

@media (min-width: 500px){
    .clinicInformation {
        .map {
            width: 350px;
        }
    }
}