//palete colors

$female-dark: #A05485;
$female-medium: #E49AB0;
$female-light: #F3CED7;

$male-dark: #2D598B;
$male-medium: #5698AE;
$male-light: #BBD6DD;

//basic colors
$cloud: #FFF;
$black: black;

//background
$secundary-background: #FAEAEE;
$primary-background: #FFF;