@import '../../styles/colors';

.contact {
    background-color: $cloud;
    padding: 28px 0;
    font-family: Bebas Neue;

    h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        text-align: left;    
        color: $female-dark;
        text-align: center;
    }

    form {
        > .formItem {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            max-width: 400px;
            margin: 10px auto;
            text-align: left;

            label {
                margin-bottom: 5px;
            }

            input, textArea {
                border-radius: 5px; 
                background: #f3ced78a;
                border-color: $female-dark;
                padding: 5px;
                border: 1px solid $female-dark;

                &:hover {
                    background-color: #f3ced759;
                }

                &:focus, &:active, &:visited {
                    border: 1px solid $female-light;
                    outline: none;
                }
            }
        }

        > .buttonContainer {
            font-family: Bebas Neue;
            button {
                margin-top: 15px;
                background-color: $female-dark;
                padding: 7px 17px;
                border-radius: 5px;
                color: $cloud;
                border: none;
                font-size: 16px;

                &:hover {
                    background-color: $female-medium;
                }
                &:focus, &:active, &:visited {
                    outline: none;
                }
            }
        }
    }
}