@import '../../styles/colors';

.carouselIntroduction {
    background-color: #f3ced71c;

    .carouselContainer {    
        &.carousel {
            color: $female-dark;
            margin: 0 auto;
        
            .carousel-control-prev-icon {
                height: 40px;
                width: 40px;
                background-image: url('../../assets/icons/arrow-left.svg');
            }
        
            .carousel-control-next-icon {
                height: 40px;
                width: 40px;
                background-image: url('../../assets/icons/arrow-right.svg');
            }
        
            .carouselItem {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 85%;
                flex-wrap: wrap;
            }
        }
    }
}

@media (min-width: 760px){ 
    .carouselContainer {
        max-width: 1400px;
    }
}

@media (max-width: 760px){ 
    .carouselContainer {
        .carouselItem {
            flex-direction: column-reverse;
            position: relative;

            .carouselInfo {
                position: relative;
                top: 66px;
            }
        }
    }
}
