@import '../../styles/colors';

.midiaContent {
    padding: 32px 0;
    
    h2 {
        color: $female-dark;
        font-family: Bebas Neue;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        text-align: left;    
        text-align: center;    
        margin-bottom: 20px;
    }

    .item { 
        h3 {
            color: $cloud;
            padding: 5px;
            width: 350px;
            font-family: Bebas Neue;
            font-size: 20px;
            font-weight: 400;
            margin: 0 auto;
            margin-bottom: 20px;
            font-variant: to-upper-case;
            background-image: url(../../assets/images/title-background.svg);
            background-repeat: no-repeat;
            height: 60px;
            line-height: 60px;
        }

        > p {
            font-family: Open Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            width: 80%;
            max-width: 700px;
            margin: 0 auto;
            color: $black;
            padding: 10px 20px;

            &::first-letter {
                font-size: 25px;
                color: $female-dark;
            }
        }
    }

    > .carousel {
        color: $female-dark;

        .carousel-control-prev-icon {
            height: 40px;
            width: 40px;
            background-image: url('../../assets/icons/arrow-left.svg');
        }

        .carousel-control-next-icon {
            height: 40px;
            width: 40px;
            background-image: url('../../assets/icons/arrow-right.svg');
        }
    }

}

@media (min-width: 760px){ 
    .carousel {
        max-width: 900px;
        margin: 0 auto;
    }
}